@charset "UTF-8";
/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "ArialRegular"; */
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "ArialItalic"; */
@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.eot");
  src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "ArialBlack"; */
@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack/ArialBlack.eot");
  src: url("../fonts/ArialBlack/ArialBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBlack/ArialBlack.woff") format("woff"), url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "ArialBoldItalic"; */
@font-face {
  font-family: "ArialBoldItalic";
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"), url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0 0;
  padding: 0 0; }

body {
  margin: 0 auto; }

.wrap {
  width: 88%;
  max-width: 633px;
  margin: 0 auto;
  position: relative; }
  .wrap .manager {
    position: relative;
    padding-top: 20px;
    width: 100%;
    height: 120px; }
    .wrap .manager .avatar {
      position: absolute;
      width: 120px;
      height: 120px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-image: url(../img/face.png); }
    .wrap .manager .name {
      margin-top: 10px;
      margin-left: 130px; }
      .wrap .manager .name p {
        font: 18px ArialRegular; }
      .wrap .manager .name .pos {
        font: normal 12px ArialRegular;
        color: #808080; }
    .wrap .manager .adv {
      margin-top: 10px;
      font: normal 14px ArialRegular;
      margin-left: 30px;
      background: #fffbc8;
      width: auto;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 1px #bbb solid; }
      .wrap .manager .adv p {
        padding: 12px 0 12px 100px; }
  .wrap .wraper {
    overflow: auto; }
    .wrap .wraper .servises {
      width: 80%;
      min-width: 310px;
      float: right; }
      .wrap .wraper .servises h6 {
        padding-bottom: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding-right: 45px;
        font: 13px ArialRegular; }
      .wrap .wraper .servises .servlist {
        height: 105px;
        border-top: 1px #999 solid;
        border-bottom: 1px #999 solid;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-right: 45px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .wrap .wraper .servises .servname {
        width: 220px;
        height: 75px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-shadow: inset 1px 0 0 0 #b2b2b2;
                box-shadow: inset 1px 0 0 0 #b2b2b2; }
        .wrap .wraper .servises .servname p {
          padding: 4px 7px;
          font: 13px ArialRegular; }
      .wrap .wraper .servises .servname div:first-child {
        width: 220px;
        background: #b1e19b;
        height: 24px;
        border-left: 1px solid #83b26d;
        -webkit-border-radius: 0 2px 2px 0;
                border-radius: 0 2px 2px 0; }
      .wrap .wraper .servises .servname div:nth-child(2) {
        width: 54px;
        background: #ace2f8;
        height: 24px;
        border-left: 1px solid #7eb4ca;
        -webkit-border-radius: 0 2px 2px 0;
                border-radius: 0 2px 2px 0; }
      .wrap .wraper .servises .servname div:nth-child(3) {
        width: 36px;
        background: #ace2f8;
        height: 24px;
        border-left: 1px solid #7eb4ca;
        -webkit-border-radius: 0 2px 2px 0;
                border-radius: 0 2px 2px 0; }
        .wrap .wraper .servises .servname div:nth-child(3) p {
          width: auto; }
      .wrap .wraper .servises .servamount {
        height: 75px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end;
        width: 20px;
        font: bold 13px ArialBold; }
      .wrap .wraper .servises .sum {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 15px;
        padding-right: 40px;
        font: bold 16px ArialBold; }

.comminf {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .comminf .review {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 240px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font: bold 15px ArialBold; }
    .comminf .review a {
      font: normal 15px ArialRegular; }
  .comminf .feedb {
    width: 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .comminf .feedb label {
      font-size: 12px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .comminf .feedb #like {
      margin-right: 8px;
      width: 12px;
      height: 12px;
      background-image: url(../img/like.png);
      cursor: pointer; }
    .comminf .feedb .commcount {
      margin-right: 8px;
      width: 13px;
      height: 14px;
      background-image: url(../img/com.png); }

#commList {
  min-height: -webkit-calc( 100vh - 565px);
  min-height: calc( 100vh - 565px); }

.cont div:first-child {
  margin-top: 20px;
  margin-right: 10px;
  font: bold 14px ArialBold;
  float: left; }

.cont div:nth-child(2) {
  padding-top: 22px;
  font: 11px ArialRegular;
  color: #999; }

.cont div:last-child {
  font: 14px ArialRegular;
  padding: 20px;
  margin-top: 5px;
  word-wrap: break-word;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }

.comminp {
  height: 190px;
  margin-top: 20px;
  position: relative;
  background: #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .comminp #comment {
    margin-top: 28px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    height: 50px;
    border: 1px #999 solid;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 15px;
    font-size: 15px;
    resize: none; }
  .comminp button {
    margin: 28px auto;
    width: 280px;
    height: 40px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background: #fdd639;
    border: none;
    font: bold 16px ArialBold;
    cursor: pointer; }
  .comminp button:focus {
    outline: 0; }
  .comminp .wrapper {
    width: 88%;
    max-width: 633px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

@media screen and (max-width: 520px) {
  .adv #quote {
    font-size: 12px;
    padding: 7px 0 7px 100px; }
  .review p, .review a.link {
    font-size: 12px; } }
